<section class="section">

  <div class="columns">
    <div class="column">
      <h1 class="title">RETRO: <%=h board[:name] %></h1>

      <% if theme == "light" %>
        <a href="/mode/dark"> 🌙 Dark mode</a>
      <% else %>
        <a href="/mode/light"> ☀️ Light mode</a>
      <% end %>

      <% if board[:userid]==userid %>
        | <a href="/boards/<%= board[:id] %>/edit">✏️ Edit</a>
      <% end %>

      | 📥 Export: <a href="/boards/<%= board[:id] %>/export/markdown">Markdown</a>
      | <%= votes %> Remaining vote(s) for you.

    </div>
    <div class="column">
      <iframe frameborder="0" src="/boards/<%= board[:id] %>/countdown" style="width: 100%; height: 3rem"></iframe>
    </div>
  </div>


  <div class="columns">
    <% board[:columns].each do |column| %>
      <div class="column">
        <h2 class="title is-5 is-capitalized"><%=h column %></h2>

        <form action="/boards/<%= board[:id] %>/cards" method="POST" class="mt-5">
          <input type="hidden" name="column" value="<%= column %>" />

          <div class="field has-addons is-fullwidth mt-2">
            <div class="control is-expanded">
              <input type="text" class="input" placeholder="What's on your mind?..." name="message" id="message" />
            </div>
            <div class="control">
              <button class="button" type="submit"> 📢 </button>
            </div>
          </div>
        </form>

        <% board[:cards]
        .select { |_, card| card[:column] == column }
        .sort_by {|_, c| !board[:hide_votes] && board[:order] == 'votes' ? c[:votes].count*-1 : 1 }
        .each do |id, card| %>
          <div class="card mt-2" tabindex="-1">
            <div class="card-content">
              <div class="columns">
                <div class="column is-narrow has-text-centered">

                  <% if votes > 0 %>
                    <form method="POST" action="/boards/<%= board[:id] %>/cards/<%= id %>/vote">
                      <button type="submit" class="button is-small <%= theme=='light'? 'is-white' : 'is-dark' %>"> 👍 </button>
                    </form>
                  <% end %>

                  <% card_votes = board[:hide_votes] ? card[:votes].select{ |v| v == userid }.count : card[:votes].count  %>
                  <% if card_votes > 0 %>
                    <div class="tag my-1 <%= 'is-dark' if theme == "dark" %>">
                      <%=h card_votes %>
                    </div>
                  <% end %>

                  <% if card[:votes].include?(userid) %>
                    <form method="POST" action="/boards/<%= board[:id] %>/cards/<%= id %>/vote">
                      <input type="hidden" name="_method" value="DELETE" />
                      <button type="submit" class="button is-small <%= theme=='light'? 'is-white' : 'is-dark' %>"> 👎 </button>
                    </form>
                  <% end %>

                </div>
                <div class="column">
                  <% if board[:hide_cards] && card[:userid] != userid %>
                    <span style="filter: blur(0.25rem);"> <%=simple_format card[:message].gsub(/[[:alpha:]]/, '*') %> </span>
                  <% else %>
                    <%=simple_format card[:message] %>
                  <% end %>

                  <% unless board[:hide_users] %>
                    <small class="has-text-grey-light"> -- <%=h card[:username] %></small>
                  <% end %>
                </div>
              </div>

              <div class="content has-text-right">
                <% if card[:userid] == userid  %>
                  <a class="button is-link is-outlined is-small" href="/boards/<%= board[:id] %>/cards/<%= id %>/edit"> Edit ✏️ </a>
                  <form class="is-inline" method="post" action="/boards/<%= board[:id] %>/cards/<%= id %>">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="button is-danger is-outlined is-small"> Delete ❌ </button>
                  </form>
                <% end %>
                <% if board[:userid] == userid  %>
                  <a class="button is-info is-outlined is-small" href="/boards/<%= board[:id] %>/cards/<%= id %>/merge"> Merge </a>
                <% end %>
              </div>

            </div>
          </div>

        <% end %>

      </div>
    <% end %>
  </div>
</section>
