<section class="section">
  <h1 class="title"><%=h board[:name] %></h1>
  <p class="content">
    <small class="has-text-grey-light"><%= remaining_votes(board, cards, userid) %> Remaining votes for you.</small>
  </p>

  <div class="columns">
    <% board[:columns].each do |column| %>
      <div class="column">
        <h1 class="subtitle"><%=h column %></h1>

        <% cards.filter { |card| card[:column] == column }.each do |card| %>
          <%= erb :card, locals: { card: card, board: board, userid: userid } %>
        <% end %>

        <%= erb :form, locals: { board: board, column: column } %>
      </div>
    <% end %>
  </div>
</section>
