<section class="section p-5">

  <div class="columns">
    <div class="column">
       <h1 class="title bb-1">RETRO: <%=h board[:name] %></h1>

        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li>
              <% if theme == "light" %>
                <a href="/mode/dark"> 🌙 &nbsp; Dark mode</a>
              <% else %>
                <a href="/mode/light"> ☀️ &nbsp; Light mode</a>
              <% end %>
            </li>

            <li>
              <% if board[:userid]==userid %>
                <a href="/boards/<%= board[:id] %>/edit">✏️ &nbsp;Edit </a>
              <% end %>
            </li>

            <li>
              <a href="/boards/<%= board[:id] %>/export/markdown"> 📥  &nbsp; Export markdown</a>
            </li>
            <li>
              &nbsp; <%= votes %> &nbsp; Remaining vote(s) for you.
            </li>
          </ul>
        </nav>

    </div>
    <div class="column">
      <iframe frameborder="0" src="/boards/<%= board[:id] %>/countdown" style="width: 100%; height: 3rem"></iframe>
    </div>
  </div>


  <div class="columns">
    <% board[:columns].each do |column| %>
      <div class="column card m-2 <%= theme=='light' ? 'has-background-light' : 'has-background-black' %>">
        <h2 class="title is-5 is-capitalized"><%=h column %></h2>

        <form action="/boards/<%= board[:id] %>/cards" method="POST" class="mt-5">
          <input type="hidden" name="column" value="<%= column %>" />

          <div class="field has-addons is-fullwidth mt-2">
            <div class="control is-expanded">
              <input type="text" class="input" placeholder="What's on your mind?..." name="message" id="message" autocomplete="off" />
            </div>
            <div class="control">
              <button class="button" type="submit"> 💬 </button>
            </div>
          </div>
        </form>

        <% board[:cards]
        .select { |_, card| card[:column] == column }
        .sort_by {|_, c| !board[:hide_votes] && board[:order] == 'votes' ? c[:votes].count*-1 : 1 }
        .each do |id, card| %>

            <div class="card mt-2" tabindex="-1">
              <div class="card-content p-3">

                <!-- votes -->
                <div class="columns is-gapless is-mobile is-full m-0 mb-2">

                  <div class="column p-0 is-one-third has-text-right">
                    <% if votes > 0 && board[:hide_votes] %>
                      <form method="POST" action="/boards/<%= board[:id] %>/cards/<%= id %>/vote">
                        <button type="submit" class="button is-small <%= theme=='light' ? 'is-white' : 'is-dark' %>"> 👍 </button>
                      </form>
                    <% end %>
                  </div>

                  <div class="column p-0 is-one-third has-text-centered">
                    <% card_votes = board[:hide_votes] ? card[:votes].select{ |v| v == userid }.count : card[:votes].count  %>

                    <% if card_votes > 0 %>
                      <div class="tag is-warning <%= theme=='light' ? 'is-light' : 'is-dark' %>">
                        <%=h card_votes %>
                      </div>
                    <% else %>
                      <div class="tag <%= theme=='light' ? 'is-white' : 'is-dark' %>">&nbsp;</div>
                    <% end %>
                  </div>

                  <div class="column p-0 is-one-third has-text-left">
                    <% if card[:votes].include?(userid) && board[:hide_votes] %>
                      <form method="POST" action="/boards/<%= board[:id] %>/cards/<%= id %>/vote">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="button is-small <%= theme=='light'? 'is-white' : 'is-dark' %>"> 👎 </button>
                      </form>
                    <% end %>
                  </div>

                </div>
               <!-- votes -->

                <div class="column is-full has-text-left p-2">
                  <div class="mb-1">
                    <% if board[:hide_cards] && card[:userid] != userid %>
                        <span style="filter: blur(0.25rem);"> <%=simple_format card[:message].gsub(/[[:alpha:]]/, '*') %> </span>
                      <% else %>
                        <%=simple_format card[:message] %>
                    <% end %>
                  </div>

                  <% unless board[:hide_users] %>
                    <small class="has-text-grey-light is-small mt-2"> - <%=h card[:username] %></small>
                  <% end %>
                </div>

                <!-- buttons-->
                <div class="columns mt-4 is-gapless is-mobile has-text-centered">
                    <% if card[:userid] == userid  %>
                    <div class="column is-one-third has-text-right">
                      <span class="has-text-centered">
                        <a class="button is-light is-warning is-small" href="/boards/<%= board[:id] %>/cards/<%= id %>/edit"> &nbsp;Edit ✏️ &nbsp;</a>
                      </span>

                    </div>
                    <div class="column is-one-third has-text-centered">
                      <form class="is-inline" method="post" action="/boards/<%= board[:id] %>/cards/<%= id %>">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="button is-light is-danger is-small"> Delete ❌ </button>
                      </form>
                    </div>
                  <%end%>
                  <div class="column is-one-third has-text-left">
                    <a class="button is-light is-info is-small" href="/boards/<%= board[:id] %>/cards/<%= id %>/merge"> Merge 🔁 </a>
                  </div>
                </div>
                <!-- buttons-->
              </div>
             </div>

         <% end %>



      </div>
    <% end %>
  </div>
</section>
