<div class="card mb-3">
  <div class="card-content">
    <div class="content">
      <%=h card[:message] %>
      <small class="has-text-grey-light"> -- <%=h card[:username] %></small>

      <span class="icon">
        <i class="fas fa-thumbs-up"></i>
      </span>
      <%=h card[:votes].count %>
    </div>

    <div class="content">
      <form class="is-inline" method="POST" action="/boards/<%= board[:id] %>/cards/<%= card[:id] %>/vote">
        <button type="submit" class="button is-success is-outlined">
          <span class="icon">
            <i class="fas fa-thumbs-up"></i>
          </span>
        </button>
      </form>

      <% if card[:userid] == userid  %>
        <form method="post" action="/boards/<%= board[:id] %>/cards/<%= card[:id] %>">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="button is-danger is-small is-rounded">
            <span>Delete</span>
            <span class="icon">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </form>
      <% end %>
    </div>

  </div>
</div>
