<section class="section">

  <div class="columns">
    <div class="column">
      <h1 class="title">Merge Card</h1>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-content">
      <div class="content">
        <%=simple_format card[:message] %>
      </div>
    </div>
  </div>
  <hr />
  <p class="subtitle">Select below the card you would like to merge the card above with</p>

  <div class="columns">
    <% board[:columns].each do |column| %>
      <div class="column card m-2 <%= theme=='light' ? 'has-background-light' : 'has-background-black' %>">
        <h2 class="title is-5 is-capitalized"><%=h column %></h2>

        <% board[:cards]
        .select { |id, card| card[:column] == column && id != card_id }
        .sort_by {|_, c| !board[:hide_votes] && board[:order] == 'votes' ? c[:votes].count*-1 : 1 }
        .each do |id, other_card| %>
          <div class="card mt-2" tabindex="-1">
            <div class="card-content p-3">
              <div class="columns">
                <div class="column">
                    <%=simple_format other_card[:message] %>
                </div>
              </div>

              <div class="content has-text-right">
                <a class="button is-light is-info is-small" href="/boards/<%= board[:id] %>/cards/<%= card_id %>/merge/<%= id %>">
                  <span>Merge</span>
                </a>
              </div>

            </div>
          </div>

        <% end %>

      </div>
    <% end %>
  </div>
</section>
